<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="UnitTest.php">test</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="IntegrationTest.php">test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

</phpunit>
